__1)__ Write a function to evaluate your favorite equation with units! Make sure the inputs are `Quantity`-like objects and throw an exception if not.

_hint: use the `hasattr()` function to check if the input objects have a `.unit` property_

In [3]:
from astropy import units as u
def e_kin(m,v):
    if hasattr(m, 'unit') and hasattr(v,'unit'):
        return 0.5*m*v**2
    else:
        raise AttributeError('These need to be Quantity-like objects.')

In [6]:
m = 10*u.kg
v = 10*u.km/u.s
print(e_kin(m,v))

500.0 kg km2 / s2

__2)__ Write the same function without using `astropy.units`, assuming something about the units of the input values. How much slower is using the function with units on the same input?

In [7]:
def e_kin_nounit(m,v):
    return 0.5*m*v**2

In [10]:
print("Test with units:")
m = 10*u.kg
v = 10*u.km/u.s
%timeit e_kin(m,v)
print("Test without units:")
m = 10
v = 10
%timeit e_kin_nounit(m,v)

Test with units:
1000 loops, best of 3: 253 Âµs per loop
Test without units:
1000000 loops, best of 3: 555 ns per loop

__3.1)__ Read in the same data table from the example notebook (../data/borkova2002.tsv)

In [12]:
from astropy.io import ascii
data = ascii.read("borkova2002.tsv",data_start=3)
data[0]

<Row index=0>
_RAJ2000 _DEJ2000   Name   Simbad  [Fe/H] Theta  Vres    Ra     Zmax     e      _RA     _DE
float64  float64    str8    str6  float64 int64 int64 float64 float64 float64 float64 float64
-------- -------- -------- ------ ------- ----- ----- ------- ------- ------- ------- -------
  5.9295   29.401 SW And   Simbad   -0.38   200    40     9.0     0.4    0.01  5.9295  29.401

__3.2)__ Rename the column 'Ra' (the apogalactic radius, very misleading name) to something like 'apocenter'.

In [13]:
data.rename_column('Ra','Apocenter')
data.columns

TableColumns([('_RAJ2000', <Column name='_RAJ2000' dtype='float64' length=174>
                 5.9295
                19.3642
               355.6285
                28.7846
                16.3569
               154.0206
               222.2084
               223.0226
               318.8244
               324.0352
               330.4814
                343.534
                    ...
               163.2604
               216.9128
               182.1461
               185.3197
               217.0409
               200.8889
                193.191
               193.7939
               200.0482
               207.9199
               189.1137
               291.9836),
              ('_DEJ2000', <Column name='_DEJ2000' dtype='float64' length=174>
                 29.401
                38.9506
                43.0143
                43.7657
                34.2204
               -29.7284
               -71.3283
               -79.6796
                 0.0763
                 3.2306
                -5.6008
               -12.3607
                    ...
               -49.9063
                -0.9016
                -0.4568
                 0.3674
                 6.5455
               -16.6661
               -10.2599
                 -5.459
                 9.1879
                 6.4309
                 -2.426
                24.3474),
              ('Name', <Column name='Name' dtype='str8' length=174>
               SW And
               XX And
               AT And
               CI And
               DR And
               WY Ant
               TY Aps
               XZ Aps
               SW Aqr
               SX Aqr
               TZ Aqr
               BO Aqr
                    ...
               AF Vel
               ST Vir
               UU Vir
               UV Vir
               AF Vir
               AM Vir
               AS Vir
               AT Vir
               AV Vir
               BB Vir
               BQ Vir
               BN Vul  ),
              ('Simbad', <Column name='Simbad' dtype='str6' length=174>
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
                  ...
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad
               Simbad),
              ('[Fe/H]', <Column name='[Fe/H]' dtype='float64' length=174>
               -0.38
               -2.01
               -0.97
               -0.83
               -1.48
               -1.66
               -1.21
               -1.57
               -1.24
               -1.83
               -1.24
                -1.8
                 ...
               -1.64
                0.88
               -0.82
               -1.19
               -1.46
               -1.45
               -1.49
               -1.91
               -1.32
               -1.61
               -1.32
               -1.52),
              ('Theta', <Column name='Theta' dtype='int64' length=174>
                200
                 18
                 10
                276
                -94
                -46
                  8
                -17
                  3
                -67
                162
                163
                ...
                 29
                121
                141
                 -1
                -39
                  3
                 39
               -255
                  3
                 43
                 60
                -86),
              ('Vres', <Column name='Vres' dtype='int64' length=174>
                40
               325
               292
               113
               357
               351
               247
               243
               369
               482
                65
               111
               ...
               308
               117
               192
               245
               415
               289
               266
               531
               322
               296
               172
               310),
              ('Apocenter',
               <Column name='Apocenter' dtype='float64' length=174>
                9.0
               19.3
               12.5
               21.5
               16.0
               17.5
                7.7
                8.1
               18.2
               34.9
                8.2
                9.4
                ...
               17.6
                7.9
               12.8
                9.5
               24.8
               10.7
               12.2
               32.7
               16.2
               14.6
                9.4
                8.2),
              ('Zmax', <Column name='Zmax' dtype='float64' length=174>
                0.4
               11.3
                7.6
                2.6
                6.6
               14.0
                7.0
                5.7
                9.5
               16.9
                1.1
                1.9
                ...
                8.2
                1.8
                1.4
                6.5
               19.7
               10.1
                8.1
               20.2
                9.3
                8.1
                3.9
                0.9),
              ('e', <Column name='e' dtype='float64' length=174>
               0.01
               0.91
               0.91
               0.38
               0.83
               0.97
                0.8
               0.94
               0.94
               0.88
               0.14
               0.37
                ...
               0.89
               0.42
               0.61
               0.91
               0.92
               0.82
               0.77
               0.65
               0.97
               0.91
               0.67
               0.61),
              ('_RA', <Column name='_RA' dtype='float64' length=174>
                 5.9295
                19.3642
               355.6285
                28.7846
                16.3569
               154.0206
               222.2084
               223.0226
               318.8244
               324.0352
               330.4814
                343.534
                    ...
               163.2604
               216.9128
               182.1461
               185.3197
               217.0409
               200.8889
                193.191
               193.7939
               200.0482
               207.9199
               189.1137
               291.9836),
              ('_DE', <Column name='_DE' dtype='float64' length=174>
                 29.401
                38.9506
                43.0143
                43.7657
                34.2204
               -29.7284
               -71.3283
               -79.6796
                 0.0763
                 3.2306
                -5.6008
               -12.3607
                    ...
               -49.9063
                -0.9016
                -0.4568
                 0.3674
                 6.5455
               -16.6661
               -10.2599
                 -5.459
                 9.1879
                 6.4309
                 -2.426
                24.3474)])

__3.3)__ Add a new column named `pericenter`, and compute the values using the eccentricity column (`e`) and renamed apocenter column.

__3.4)__ Write out a Latex table with just the coordinates RA, Dec, apocenter, and pericenter for all of the stars.

__4)__ Go to the [arXiv](http://arxiv.org/list/astro-ph/new) and find a paper with a data table with equatorial coordinates. Read / parse in the table, then construct a list of the same coordinates in the Galactic system.